body{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.container{
    display: flex;
}

input,.enter{
    padding: 5px;
}
.left{
    /* padding-right: ; */
    padding: 5px;
}

.btn{
    background-color: antiquewhite;
}
.enter4{
    margin-top: 10px;
}